IMAGE_NAME=docker.io/leeyunho/337
IMAGE_TAG=test-latest
CONTAINER_NAME=ds-helper-admin
APP_PORT=8081

SERVER_PORT=8081
SERVER_URL=http://52.78.137.32
CLIENT_URL=https://www.dshelper.kr
LOCAL_PORT=8081
LOCAL_URL=http://localhost:8081
TEST_PORT=8080
TEST_URL=https://be-test.dshelper.kr

SPRING_DATASOURCE_URL=jdbc:mysql://52.78.137.32:3306/dshelper?serverTimezone=Asia/Seoul&cacheDefaultTimezone=false&useLegacyDatetimeCode=false
SPRING_DATASOURCE_USERNAME=your_username
SPRING_DATASOURCE_PASSWORD=your_password
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your_email@gmail.com
SPRING_MAIL_PASSWORD=your_email_password
MAIL_REDIRECT_URL=http://localhost:8081

SPRING_CLOUD_AWS_S3_BUCKET=your_s3_bucket
SPRING_CLOUD_AWS_CREDENTIALS_ACCESS_KEY=YOUR_ACCESS_KEY
SPRING_CLOUD_AWS_CREDENTIALS_SECRET_KEY=YOUR_SECRET_KEY
SPRING_CLOUD_AWS_REGION_STATIC=ap-northeast-2

KAKAO_CLIENT_ID=YOUR_KAKAO_CLIENT_ID
KAKAO_CLIENT_SECRET=YOUR_KAKAO_CLIENT_SECRET
KAKAO_REDIRECT_URI=https://server.dshelper.kr/oauth/kakao/login

NAVER_CLIENT_ID=YOUR_NAVER_CLIENT_ID
NAVER_CLIENT_SECRET=YOUR_NAVER_CLIENT_SECRET
NAVER_CLIENT_URI=https://www.dshelper.kr
NAVER_REDIRECT_URI=https://server.dshelper.kr/oauth/naver/login

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=https://be-test.dshelper.kr/oauth/google/login
