.shell {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-primitive-gray-100);
}

.mainContent {
  flex: 1;
  min-width: 0;
  padding: 3rem;
}

.mainContentNoSidebar {
  padding: 0;
}
